#ol3map_small {
    height:300px;
}
.navbar
{
	border: 0 !important;
	margin-bottom:0 !important;
	border-radius:0 !important;
}
.scroll-dropdown
{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#mouse-position
{
	bottom:0px;
} 

#time-current
{
    visibility: hidden;
}
#time-count
{
    visibility: hidden;
}


.modal.in .modal-dialog
{
    width:75% !important;
}
.ol-scale-line {
    background: #95b9e6;
    background: rgba(0,60,136,0.3);
    border-radius: 4px;
    bottom: -25px;
    left: 8px;
    padding: 2px;
    position: absolute;
}